.img-with-text {
  text-align: center;
  width: 140;
}

.img-with-text img {
  display: block !important;
  margin: auto;
}

#studio-index {
  border: none;
}

.img-responsive-custom:hover {
  border: 3px solid yellow;
  height: 135px;
  width: 207px;
}

#centered-header {
  text-align: center;
  color: #666666;
}

.rectangle-box{
    position: relative;
    width: 207px;
    height: 135px;
    overflow: hidden;
    background: #f3f3f3;
    /*display: block;
    max-width: 100%;*/
    margin-left: 9px;
    margin-right: 9px;
}
.rectangle-box:before{
    content: "";
    display: block;
    padding-top: 50%;

}
.rectangle-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #979797;
}
.rectangle-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #979797;
}

#center {
  width: 50%;
  margin: 0 auto;
}

.studio-cal td {
  /*background: #FFF;*/
  color: #777;
  height: 80px;
  width: 150px;
  vertical-align: top;
  font-size: 16px;
  margin: auto;
}

.studio-cal p {
  color: #158cba;
}

.studio-cal thead {
  color: #158cba;
}

.studio-cal th {
  text-align: center;
}

.studio-cal .today {
  background-color: #ffffe0;
}

.selected-day-container {
  display: table-cell;
}

.selected-classes-container {
  border: 3px dashed cornflower-blue;
}

.align-top {
  vertical-align: top;
}





