<li> 
  <strong> <%= spin_class.time %> </strong> | <%= spin_class.instructor.name %>
  <%= render partial: AttendClassToggle.new(spin_class, current_user).already_attending?, locals: {spin_class: spin_class} %>
</li>