<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1> <%= @studio.name %> </h1>
  </div>
  <div class="col-md-4"></div>
</div>

<!-- Note: class of 'session open' for listing classes -->